@model EtuBlog.Models.Hakkımda

<link href="~/css/detay.css" rel="stylesheet" />

<div class="main">

    <div class="container">

        <div class="blog">
            <h4 class="h4">
               @Html.Raw(@Model.hakkımdaIcerik)
            </h4>
        </div>
    </div>
</div>