@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <div class="row"> 
                <div class="col-md-3">

                    <!-- WIDGET SAATİNİ BAŞLAT -->
                    <div class="widget widget-danger widget-padding-sm">
                        <div class="widget-big-int plugin-clock">00:00</div>
                        <div class="widget-subtitle plugin-date">Yükleniyor...</div>
                        <div class="widget-controls">
                            <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="left" title="Widget'i Kaldır"><span class="fa fa-times"></span></a>
                        </div>

                    </div>
                    <!-- WIDGET SAATİNİ BAŞLAT -->

                </div>
            </div>

        </div>
    </div>
</div>
